header{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 100px;
}
body{
    text-align: center;
}
footer{
    font-family: 'Times New Roman', Times, serif;
    color: grey;
    text-align: center;
}